{% extends 'todo/todobase.html' %}

{% block content %}

<br>
    <br>
    <br>
    <br>
    <br>
    <br>
<div class="row justify-content-center mt-5">
        <div class="col-md-7 text-center">

                 <h1>The Todo App!</h1>
            <p>This is simply a todo list maker. I created it with the help of <u>ZappyCode</u> as one of my first projects. You can either use it to make memo's for yourself, grocery list etc. The limit is only your imagination!</p>
        <a role="button" class="btn btn-primary btn-lg" href="{% url 'todo:signupuser' %}" style="background-color: #86af49;">Get Started</a>
        </div>
    </div>

{% endblock %}